<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="player">
            <h2><span jhiTranslate="bettingApp.player.detail.title">Player</span> {{player.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bettingApp.player.firstName">First Name</span></dt>
                <dd>
                    <span>{{player.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="bettingApp.player.lastName">Last Name</span></dt>
                <dd>
                    <span>{{player.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="bettingApp.player.code">Code</span></dt>
                <dd>
                    <span>{{player.code}}</span>
                </dd>
                <dt><span jhiTranslate="bettingApp.player.img">Img</span></dt>
                <dd>
                    <div *ngIf="player.img">
                        <a (click)="openFile(player.imgContentType, player.img)">
                            <img [src]="'data:' + player.imgContentType + ';base64,' + player.img" style="max-width: 100%;" alt="player image"/>
                        </a>
                        {{player.imgContentType}}, {{byteSize(player.img)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/player', player.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
