<div>
    <h2 id="page-heading">
        <span jhiTranslate="bettingApp.player.home.title">Players</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player" [routerLink]="['/player/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bettingApp.player.home.createLabel">
            Create new Player
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>


    <div class="w3-container">
        <ul class="w3-ul w3-card-4" *ngFor="let player of players ;trackBy: trackId">
            <li class="w3-bar">
                <div class="w3-bar-item">
                    <span class="w3-large">{{player.firstName}}</span><br>
                    <span>{{player.lastName}}</span><br>
                    <span>{{player.code}}</span><br>
                    <span>
                        <a *ngIf="player.img" (click)="openFile(player.imgContentType, player.img)">
                            <img [src]="'data:' + player.imgContentType + ';base64,' + player.img" style="max-height: 30px;" alt="player image"/>
                        </a>
                    </span><br><br>
                    <span>
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </span>
                    <span>
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </span>
                    <span>
                        <button type="submit"
                                [routerLink]="['/', 'player', { outlets: { popup: player.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
