<div>
    <h2 id="page-heading">
        <span jhiTranslate="bettingApp.player.home.title">Players</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player" [routerLink]="['/player/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bettingApp.player.home.createLabel">
            Create new Player
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="players?.length === 0">
        <span jhiTranslate="bettingApp.player.home.notFound">No players found</span>
    </div>
    <div class="table-responsive" *ngIf="players?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bettingApp.player.firstName">First Name</span></th>
            <th><span jhiTranslate="bettingApp.player.lastName">Last Name</span></th>
            <th><span jhiTranslate="bettingApp.player.code">Code</span></th>
            <th><span jhiTranslate="bettingApp.player.img">Img</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players ;trackBy: trackId">
                <td><a [routerLink]="['/player', player.id, 'view' ]">{{player.id}}</a></td>
                <td>{{player.firstName}}</td>
                <td>{{player.lastName}}</td>
                <td>{{player.code}}</td>
                <td>
                    <a *ngIf="player.img" (click)="openFile(player.imgContentType, player.img)">
                        <img [src]="'data:' + player.imgContentType + ';base64,' + player.img" style="max-height: 30px;" alt="player image"/>
                    </a>
                    <span *ngIf="player.img">{{player.imgContentType}}, {{byteSize(player.img)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player', player.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'player', { outlets: { popup: player.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
