<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatInfo">
            <h2><span jhiTranslate="bettingApp.chatInfo.detail.title">Chat Info</span> {{chatInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bettingApp.chatInfo.message">Message</span></dt>
                <dd>
                    <span>{{chatInfo.message}}</span>
                </dd>
                <!--<dt><span jhiTranslate="bettingApp.chatInfo.photo">Photo</span></dt>-->
                <!--<dd>-->
                    <!--<div *ngIf="chatInfo.photo">-->
                        <!--<a (click)="openFile(chatInfo.photoContentType, chatInfo.photo)">-->
                            <!--<img [src]="'data:' + chatInfo.photoContentType + ';base64,' + chatInfo.photo" style="max-width: 100%;" alt="chatInfo image"/>-->
                        <!--</a>-->
                        <!--{{chatInfo.photoContentType}}, {{byteSize(chatInfo.photo)}}-->
                    <!--</div>-->
                <!--</dd>-->
                <!--<dt><span jhiTranslate="bettingApp.chatInfo.acceptByAdmin">Accept By Admin</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{chatInfo.acceptByAdmin}}</span>-->
                <!--</dd>-->
                <dt><span jhiTranslate="bettingApp.chatInfo.fromUser">From User</span></dt>
                <dd>
                    <span>{{chatInfo.fromUser}}</span>
                </dd>
                <!--<dt><span jhiTranslate="bettingApp.chatInfo.toUser">To User</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{chatInfo.toUser}}</span>-->
                <!--</dd>-->
                <dt><span jhiTranslate="bettingApp.chatInfo.sentDate">Sent Date</span></dt>
                <dd>
                    <span>{{chatInfo.sentDate}}</span>
                </dd>
                <!--<dt><span jhiTranslate="bettingApp.chatInfo.isDeleted">Is Deleted</span></dt>-->
                <!--<dd>-->
                    <!--<span>{{chatInfo.isDeleted}}</span>-->
                <!--</dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-info', chatInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
