<div>
    <h2 id="page-heading">
        <span jhiTranslate="bettingApp.systemSuggestionComment.home.title">System Suggestion Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-system-suggestion-comment" [routerLink]="['/system-suggestion-comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bettingApp.systemSuggestionComment.home.createLabel">
            Create new System Suggestion Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="systemSuggestionComments?.length === 0">
        <span jhiTranslate="bettingApp.systemSuggestionComment.home.notFound">No systemSuggestionComments found</span>
    </div>
    <div class="table-responsive" *ngIf="systemSuggestionComments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bettingApp.systemSuggestionComment.comment">Comment</span></th>
            <th><span jhiTranslate="bettingApp.systemSuggestionComment.date">Date</span></th>
            <th><span jhiTranslate="bettingApp.systemSuggestionComment.user">User</span></th>
            <th><span jhiTranslate="bettingApp.systemSuggestionComment.suggestion">Suggestion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let systemSuggestionComment of systemSuggestionComments ;trackBy: trackId">
                <td><a [routerLink]="['/system-suggestion-comment', systemSuggestionComment.id, 'view' ]">{{systemSuggestionComment.id}}</a></td>
                <td>{{systemSuggestionComment.comment}}</td>
                <td>{{systemSuggestionComment.date | date:'mediumDate'}}</td>
                <td>
                    {{systemSuggestionComment.user?.id}}
                </td>
                <td>
                    <div *ngIf="systemSuggestionComment.suggestion">
                        <a [routerLink]="['../system-suggestion', systemSuggestionComment.suggestion?.id, 'view' ]" >{{systemSuggestionComment.suggestion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/system-suggestion-comment', systemSuggestionComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/system-suggestion-comment', systemSuggestionComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'system-suggestion-comment', { outlets: { popup: systemSuggestionComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
