<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-suggestion-comment-heading" jhiTranslate="bettingApp.suggestionComment.home.createOrEditLabel">Create or edit a Suggestion Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value" style="display: none">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bettingApp.suggestionComment.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>
                <div class="form-group" style="display: none">
                    <label class="form-control-label" jhiTranslate="bettingApp.suggestionComment.suggestion" for="field_suggestion">Suggestion</label>
                    <select class="form-control" id="field_suggestion" name="suggestion" formControlName="suggestion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suggestionOption.id === editForm.get('suggestion').value?.id ? editForm.get('suggestion').value : suggestionOption" *ngFor="let suggestionOption of suggestions; trackBy: trackSuggestionById">{{suggestionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
