<div>
    <h2 id="page-heading">
        <span jhiTranslate="bettingApp.suggestionComment.home.title">Suggestion Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suggestion-comment" [routerLink]="['/suggestion-comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bettingApp.suggestionComment.home.createLabel">
            Create new Suggestion Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="suggestionComments?.length === 0">
        <span jhiTranslate="bettingApp.suggestionComment.home.notFound">No suggestionComments found</span>
    </div>
    <div class="table-responsive" *ngIf="suggestionComments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bettingApp.suggestionComment.comment">Comment</span></th>
            <th><span jhiTranslate="bettingApp.suggestionComment.date">Date</span></th>
            <th><span jhiTranslate="bettingApp.suggestionComment.user">User</span></th>
            <th><span jhiTranslate="bettingApp.suggestionComment.suggestion">Suggestion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let suggestionComment of suggestionComments ;trackBy: trackId">
                <td><a [routerLink]="['/suggestion-comment', suggestionComment.id, 'view' ]">{{suggestionComment.id}}</a></td>
                <td>{{suggestionComment.comment}}</td>
                <td>{{suggestionComment.date | date:'mediumDate'}}</td>
                <td>
                    {{suggestionComment.user?.id}}
                </td>
                <td>
                    <div *ngIf="suggestionComment.suggestion">
                        <a [routerLink]="['../suggestion', suggestionComment.suggestion?.id, 'view' ]" >{{suggestionComment.suggestion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/suggestion-comment', suggestionComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/suggestion-comment', suggestionComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'suggestion-comment', { outlets: { popup: suggestionComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
